.about {
  position: relative;
  display: flex;
  background-color: #0a2850;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  justify-content: space-between;
}
.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  display: flex;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  z-index: -1;
}
.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 251px;
}

.about__linebreaker {
  display: block;
}
.about__content {
  margin: 0;
  padding: 0;

  padding: 119px 80px 173px;
  max-width: 660px;
}
.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;

  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0 0 20px;
}
.about__paragraph:last-child {
  margin: 0;
}
